{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class = 'row'>
<div class = 'col-sm-10 col-sm-offset-1'>
<h1 class = 'text-align-center'>About Us</h1>
<div class="row">
	<div class='col-sm-offset-1 col-sm-2'><img src='{% static "img/howell_profile_color.png" %}' class='img-responsive img-circle'></img> </div>
	<div class='col-sm-3 text-align-right'><h4>Peter Howell is a Professor of Experimental Psychology at University College London. Professor Howell earned his Ph.D. in Psychology from University College London in 1983.  His research areas involve developing and testing an account of why stuttering persists in some speakers whilst other speakers recover.</p>
    </p>
		<i class="fa fa-globe"></i> <a href="https://www.ucl.ac.uk/speech-research-group/people/staff/p-howell" target="_blank">https://www.ucl.ac.uk/speech-research-group/people/staff/p-howell</a><br></h4>

	<!-- He is primarily interested in establishing the ecological validity of theoretical and experimental constructs by a) large-scale crowd-sourcing a data-driven information theoretic approach

	explaining morpho-phonological patterns with a data-driven information theoretic approach without invoking formal Generative models.

	 formal restrictions on phonotactics and morphotactics, microvariation within closely related varieties of the same language, naturalistic misperception, and the representation of features.  -->

    </p></div>
	<div class='col-sm-3  text-align-left'><h4>John Harris is a Professor of Linguistics at University College London. Professor Harris earned his Ph.D. in Linguistics from University of Edinburgh in 1983.  His research areas connected with phonology, including phonological theory, the interface with phonetics, phonological impairment, and variation and change in English. </p>
    </p>
    <i class="fa fa-globe"></i> <a href="https://www.ucl.ac.uk/pals/people/profiles/academic-staff/john-harris" target="_blank">https://www.ucl.ac.uk/pals/people/profiles/academic-staff/john-harris</a><br></h4>

	</div>
	<div class='col-sm-2'><img src='{% static "img/harris_profile_color.jpg" %}' class='img-responsive img-circle'></img> </div>
</div>

<div class="row">
<div class='col-sm-offset-1 col-sm-2'><img src='{% static "img/tang_profile_color_head2.jpg" %}' class='img-responsive img-circle'></img> </div>
<div class='col-sm-3 text-align-right'><h4>Kevin Tang is an Assistant Professor of Linguistics at Zhejiang University. Dr. Tang earned his Ph.D in Linguistics from University College London in 2015. He completed his postdoctoral training at Yale Linguistics department. His research areas are experimental and computational phonology with a focus on speech perception and lexicon modelling.</p>
	</p>
    </p><i class="fa fa-globe" style=color:rgb(29,57,127);></i> <a href="http://www.kevintang.org" target="_blank">www.kevintang.org</a><br>
        <!--Departmental: TBD<br>-->
        <a href="https://scholar.google.com/citations?user=mGjFWCoAAAAJ&hl=en" target="_blank"><font color=#156aeb>G</font><font color=#da4531>o</font><font color=#ffba02>o</font><font color=#176dee>g</font><font color=#176dee>l</font><font color=#019e5a>e</font>Scholar</a><br>
        <a href="https://orcid.org/0000-0001-7382-9344" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">0000-0001-7382-9344</a><br>
        <i class="fa fa-linkedin" style=color:rgb(29,57,127);></i> <a href="https://www.linkedin.com/in/kevintangcantab/" target="_blank">kevintangcantab</a><br>
        <i class="fa fa-twitter" style=color:rgb(29,57,127);></i> <a href="https://twitter.com/tang_kevin" class="twitter-follow-button" data-show-count="false">Follow @tang_kevin</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
</div>
<!-- He is primarily interested in establishing the ecological validity of theoretical and experimental constructs by a) large-scale crowd-sourcing a data-driven information theoretic approach

explaining morpho-phonological patterns with a data-driven information theoretic approach without invoking formal Generative models.

 formal restrictions on phonotactics and morphotactics, microvariation within closely related varieties of the same language, naturalistic misperception, and the representation of features.  -->

	</p></div>


</div>
</div>
{% endblock %}
